.container {
    display: grid;
    grid-template-columns:
        50px 1fr 50px;
    grid-template-areas:
        '. content .';
}

mat-card {
    grid-area: content;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-size: cover;
}