.about-container {
    display: grid;
    grid-template-columns: 0.05fr 0.9fr 0.05fr;
    grid-template-areas: '. title .' 'divider divider divider' '. content .';

    mat-list {
        grid-area: divider;
    }

    .title {
        grid-area: title;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-areas: 'title' 'category';
        align-items: center;

        .title-bar {
            grid-are: title;
            display: grid;
            grid-template-columns: 50px 1fr;
            align-self: start;
            align-content: center;

            .title-content {
                align-self: center;
            }
        }

        .subtitle {
            margin-left: 50px;
            margin-top: -20px;
            grid-area: category;
            align-self: start;
        }

        .sort-type {
            align-self: center;
            justify-self: end;
        }
    }

    .content {
        grid-area: content;
        display: grid;
        margin-bottom: 50px;

        .step1-form-container {
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            grid-gap: 10px;
        }
    }
}